@font-face {
  font-family: "Interstate Light";
  src: url("/font/InterstateLightRegular/InterstateLightRegular.otf")
    format("woff");
}

body {
  font-family: "Interstate Light";
  color: #ffffff;
  background-color: #1b242c;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.5px;
  font-weight: bold;
  font-family: "Interstate Light";
}

h1 {
  font-size: 40px;
  line-height: 56px;
}

h3 {
  font-size: 22px;
  line-height: 30px;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

#account-nav {
  display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: 5px;
}

#near-group,
#algorand-group {
  display: flex;
  align-items: center;
  margin: auto 10px;
}

#near-connect-btn,
#near-signout-btn,
#algorand-connect-btn,
#algorand-optin {
  color: #18e3c0;
  font-size: 14px;
  font-weight: 300;
  padding: 6px 18px 6px 12px;
  border: 2px solid #18e3c0;
  border-radius: 35px;
  background-color: transparent;
  cursor: pointer;
  margin: 1px;
}

#near-connect-btn:disabled,
#near-signout-btn:disabled,
#algorand-connect-btn:disabled,
#algorand-optin:disabled {
  color: #1873e3;
  font-size: 14px;
  font-weight: 300;
  border: 2px solid #1873e3;
  background-color: transparent;
  border-radius: 0;
  cursor: not-allowed;
}

ul {
  list-style: none;
  margin: 0 20%;
  padding: 0;
}

.tabs.func-selection.func-selection.func-selection {
  overflow: hidden;
  list-style: none;
  display: flex;
  right: 16px;
  justify-content: flex-start;
  color: white;
  top: 85px;
  left: 50%;
}

.tabs.func-selection li {
  width: 50%;
}

.tabs.func-selection label.func-selection.func-selection {
  display: inline-block;
  width: 100%;
  height: 32px;
  border-radius: 10px 10px 0 0;
  padding: 10px 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: normal;
  text-transform: capitalize;
  background-color: #41596b;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in-out;
  text-align: center;
  color: white;
}

.tabs.func-selection input[type="radio"].func-selection.func-selection {
  position: absolute;
  top: 0;
  left: -9999px;
}

.tabs.func-selection [id^="tab"].func-selection:checked + label.func-selection {
  background-color: #982eff;
  z-index: 100;
  outline: none;
}

.clickBtn {
  color: #1b242c;
  background-color: #18e3c0;
  border-radius: 55px;
  font-size: 20px;
  padding: 6px 12px;
  transition: background-color 0.2s ease-out;
  margin: 5px;
}

.clickBtn:disabled {
  background-color: #11a58d;
}

#txn {
  margin-bottom: 20px;
}

input {
  font-size: 16px;
  font-size: Max(16px, 1em);
  font-family: inherit;
  background-color: rgb(244, 255, 239);
  border: 2px solid rgb(237, 255, 226);
  border-radius: 4px;
  transition: 180ms box-shadow ease-in-out;
  margin: 2px;
}

.two-columns {
  margin: 2% 25%;
  text-align: left;
  display: grid;
  grid-template: auto/50% 50%;
  gap: 20px;
}
